@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1527176930608-09cb256ab504?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.ulHeader{
  gap: 1rem;
  display: flex;
  font-size: 14px;
  color: #4d4d4d;
  list-style: none;
  align-items: center;
}

.iconBoxs:hover {
  background-color: rgb(149, 173, 190);
  color: white;
}

.iconBoxs {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}

.companyName {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyName p {
  font-size: 22px;
  font-weight: 500;
}
.companyName span {
  color: #ff7a5c;
  font-size: 22px;
  font-weight: 500;
}
.search {
  outline: none;
}
.searchBox button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 15px;
  border: none;
  background-color: #95adbe;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

img {
  width: 190px;
  height: 280px;
}
.searchBox {
  position: relative;
  display: flex;
  align-items: center;
}

.searchBox input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}
.books {
  width: 180px;
  height: 270px;
  perspective: 1000px;
  margin: 20px;
  display: inline-block;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front {
  flex-direction: column;
}
.card-front img {
  max-width: 100%;
  max-height: 100%;
}
.card-back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
  flex-direction: column;
  text-align: center;
}

.card-back {
  background-color: rgb(223, 220, 245);
}

.allBooks {
  width: 1180px;
  margin-top: 0 auto;
  padding: 0;
  display: grid;
  margin-bottom: 2rem;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  font-size: 25px;
  color: #232f55;
  text-align: start;
}
.bookContainer {
  width: 100%;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBook {
  width: 180px;
  height: 270px;
  border: 3px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #95adbe;
  font-weight: bold;
}

.addBox {
  width: 70px;
  height: 70px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #95adbe;
  cursor: pointer;
}
.addBox i {
  font-size: 20px;
  color: white;
}
#myModal {
  display: none;
}
a {
  text-decoration: none;
  color: #4d4d4d;
}
a:hover {
  color: white;
}

.mainContainer2 {
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  flex-direction: column;
  background-position: center;
}

.newBook {
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newBook input[type="text"] {
  width: 500px;
  height: 40px;
  padding-left: 1rem;
}
.mainContainer2 h2 {
  font-family: "Courier New", Courier, monospace;
}
#btn {
  width: 150px;
  height: 30px;
  color: #95adbe;
  border-color: #e6e6e6;
  background-color: white;
  cursor: pointer;
}
#myModal {
  margin-top: 7rem;
  background-color: #95adbe;
  color: white;
  border: none;
}

.editBtn {
  opacity: 0;
  width: 180px;
  height: 40px;
  position: absolute;
  top: 240px;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid #4d4d4d;
  background-color: #95adbe;
  transition: top 0.25s, opacity 0.25s;
}

.books:hover .editBtn {
  opacity: 1;
  top: 230px;
}

#btnEdit,
#btnDelete {
  width: 150px;
  height: 30px;
  color: #95adbe;
  border-color: #e6e6e6;
  background-color: white;
  cursor: pointer;
}

#textContainer {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.shopContainer {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 4rem;
}
.gridBox {
  width: 100%;
  display: grid;
  row-gap:30px;
  grid-template-columns: repeat(4, 1fr);
}
.shopImg {
  width: 225px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopImg img {
  width: 225px;
  height: 300px;
}

.shopImages {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shopImg img:hover{
 cursor: pointer;
  opacity: 0.5;
}
.texts {
  margin-top: 1rem;
  width: 225px;
}

.texts span {
  letter-spacing: 0.4em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

.texts h4 {
  font-family: "Cormorant Garamond", sans-serif;
  margin: 25px 0;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texts p {
  font-family: "Cormorant Garamond", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopContainer h1{
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: normal;
  color: #ff7a5c;
  font-family: "Cormorant Garamond", sans-serif;
  margin-left: 10px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  color: white;
  width: 100%;
  height: 400px;
  padding: 0;
}
.footer img{
  width: 90px;
  height: 90px;
}

.footerFlex{
  gap: 3rem;
  width: 1180px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerImgs{
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.footerItem{
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 270px;
}
.footerItem p{
  color: #c4c4c4;
  text-align: left;
}
.footerItem p:hover{
  color: white;
}

.ulPublish{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  color: #c4c4c4;
}
.ulIcons{
  color: #c4c4c4;
  width: 100%;
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.ulIcons,.ulPublish li:hover{
  color: white;
  cursor: pointer;
}


.footerItem {
  text-align: center;
}

.footerImgs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.img-container img {
  display: block;
  max-width: 150px; 
  height: auto;
  transition: transform 0.3s ease; 
}

.img-container:hover img {
  transform: scale(1.1);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
  white-space: nowrap; 
}

.img-container:hover .hover-text {
  opacity: 1;
}